<div style="height: 100%; width: 100%; background-color: #f9f9f9; margin-top: 90px">
    <div fxLayoutAlign="center center"><img src="../../../assets/face.PNG" class="face"></div>
    <div fxLayout="column" style="padding-top: 20px;">
        <div style="padding-left: 15%; padding-right: 15%;">
            <mat-divider></mat-divider>
        </div>
        <div style="background-color: #f9f9f9; width: 100%">
            <p class="mat-h1" style="margin-bottom: 0px; margin-top: 8px; padding-left: 15%; padding-right: 15%;">
                About Me
            </p>
            <p class="mat-body" style="padding-left: 15%; padding-right: 15%;">
                Hey there, my name is Dylan Wraith. I am an aspiring software engineer, and right now am
                working part-time as a software engineer at Hologic Inc.
                Currently I am finishing up my last year of undergrad at San Diego State University,
                with a bachelor's degree in Computer Engineering. I am passionate in all things software and hardware,
                but I am most fascinated by ground-breaking technologies. For my last year as an undergrad,
                I am part of a team both designing and building a small-scale autonomous vehicle, a perfect
                example of what I find interesting software-wise.
            </p>
            <div style="padding-left: 15%; padding-right: 15%;">
                <mat-divider></mat-divider>
            </div>
            <p class="mat-h1" style="margin-bottom: 0px; margin-top: 8px; padding-left: 15%; padding-right: 15%;">
                Career Goals
            </p>
            <p class="mat-body" style="padding-left: 15%; padding-right: 15%;">
                Currently I am looking for job opportunities post-graduation May 2020.
                My dream job entails being part of a team working towards an end-goal that
                will make a difference in society. After having worked in a software team at Hologic, I have found that
                I prefer back-end over front-end, as I enjoy working with data structures and complex algorithms.
                Ideally, I want a job that will constantly give me difficult problems that I must find solutions to,
                because there is nothing I love more than solving problems.
            </p>
            <div style="padding-left: 15%; padding-right: 15%;">
                <mat-divider></mat-divider>
            </div>
            <p class="mat-h1" style="margin-bottom: 0px; margin-top: 8px; padding-left: 15%; padding-right: 15%;">
                Extra Curricular
            </p>
            <p class="mat-body" style="padding-left: 15%; padding-right: 15%;">
                Balance between work life and person life is a huge priority for me. Whether it
                be playing video games (if you did not know, this UI is Pokemon 2nd Gen Themed),
                surfing, or going out to socialize with coworkers and friends, I need to work at a company
                that allows sufficient time for me to enjoy my life outside of work.
            </p>
        </div>
    </div>
</div>
<div style="height: 100%; width: 100%; background-color: #f9f9f9; position: fixed"></div>